<html>
  <head>
    <title>Mintz 500</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="static/bootstrap.min.css" rel="stylesheet" media="screen">
  </head>
  <body>
    <div class="container">
      <h1>Mintz 500</h1>
        <h2>Signup</h2>
        <br>
      <form action="" method="post">
        <div>
          <input type="text" placeholder="Username" name="username">
          <input type="password" placeholder="Password" name="password">
          <input class="btn btn-default" type="submit" value="Sign Up">
        </div>
      </form>
        <div>
        <p>
            Already a member? <a href="/">Login here</a>
        </p>
        </div>
      {% if error %}
        <p class="error"><strong>Error:</strong> {{ error }}
      {% endif %}
    </div>
  </body>
</html>